@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body, html {
    margin: 0;
    background: linear-gradient(to top, #6a85b6 0%, #bac8e0 90%) no-repeat;
    height: 100%;
}


.btn {
    border-radius: 50px;
    padding: 2px;
    margin-top: 50px;
}

.container {
    color: white;
    padding: 30px;
    margin: 70px auto;
    text-align: center;
    background-color: #0f1f2d;
    border-radius: 15px;
    border-top: 10px solid #0f1f2d;
    width: 400px;
    height: 340px;
}

.error-msg {
    display: block;
    background: #ff3333;
    font-size: 15px;
    height: 20px;
    width: 300px;
    text-align: center;
    margin: 20px auto;
    padding: 2px;
    border-radius: 5px;
    color: #faf0e8;
    visibility: hidden;
}

.container p {
    margin-top: 10px;
    font-size: 15px;
    opacity: 0.5;
}

form {
    margin-top: 20px;
}

.box input[type = "text"], .box input[type = "password"] {
    display: block;
    margin: 20px auto;
    background: #132738;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #565f79;
    border: 1px solid #132738;
    transition: all .2s ease-out;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    border: 1px solid #79A6FE;
    color: white;
}

#eye {
    margin-left: 30px;
    color: #faf0e8;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
}

.fa-eye-slash {
    color: white;
    opacity: 1;
}

.input {
    position: relative;
}

.input .fas {
    position: absolute;
    top: 75px;
    left: 301px;
    font-size: 15px;
}

label input[type = "checkbox"] {
    display: none;
}

label span {
    height: 13px;
    width: 13px;
    border: 2px solid #132738;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: left;
}

.rmb-me {
    position: absolute;
    cursor: pointer;
    margin-left: -134px;
    margin-top: 1px;
    font-size: 13px;
    opacity: 0.5;
}

.rmb-me:hover {
    opacity: 0.7;
}

[type="checkbox"]:checked + span:before {
    font-size: 16px;
    content: "✔";
    color: #faf0e8;
    position: absolute;
    top: -4px;
    left: 1px;
    width: 13px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #132738;
    color: white;
    opacity: 0.5;
}

.btn:hover {
    border: 1px solid white;
    opacity: 1;
    cursor: pointer;
    transition: 0.7s;
}

.btn:focus {
    outline: none;
}

footer {
    float: right;
    padding: 20px;
    margin-bottom: 0;
}

footer a {
    color: black;
    text-decoration: none;
}